body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-image: url('https://wallpapercave.com/wp/1ljDpnS.jpg');
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
    padding: 20px;
}

.page-title {
    color: #ffffff;
    margin: 0 0 5px;
    }

.page-subtitle {
    color: #ffffff;
    margin-top: 5px;
}

.page-logo {
    width: 200px;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: 30px;
    right: 40px;
}

p {
    color: white;
    font-family: 'Arial';
    font-weight: bold;
}

.game-container {
    display: inline-block;
    text-align: center;
    margin: 10px;
}

.game-container img {
    max-height: 250px;
    margin: 0 10px;
}

button {
    background-color: #da1e26;
    color: white;
    border: transparent;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    padding: 15px;
}

input {
    width: 350px;
    border-radius: 10px;
    border: transparent;
    font-size: 20px;
}

div {
    margin: 10px;
}